/* 
Daniel Reyes
VFW-1112
Project 3
Nov 8th
*/ 



p{
	margin: 10px 20px;
	border: solid #000000;
	padding: 10px;
	background-color: #854A23;
	font-style: oblique;
	font-family: sans-serif;
	color: #ffb742;
	line-height: 23px;
}


h1{
	margin: 10px 20px;
	border: solid #000000;
	padding: 10px;
	background-color: #ffb742;
	width: 30%;
	font-style: oblique;
	font-family: sans-serif;
	color: #bf1725;
}

h2{
	margin: 10px 20px;
	font-style: oblique;
	font-family: sans-serif;
	color: #FF441A;
}

nav{
	margin-left: 57.0em;	
}

legend{
	margin: 10px 20px;
	font-style: italic;
	font-style: oblique;
	font-size: large;
	font-family: sans-serif;
	color: #bf1725;			
}

label{
	display: block;	
}
li{
	font-style: oblique;
	font-family: sans-serif;
	color: #bf1725;
	line-height: 23px;
}
aside{
	font-style: oblique;
	font-family: sans-serif;
	color: #bf1725;
}

fieldset{
	margin: 10px 20px;
	border: solid #000;
	background-color: #ffb742;
}